#q1 {
  font-size: 220%;
  top: 10%;
  left: 35%;
  /* position: absolute; */
}
#pic1 {
  /* height: 25%;
  width: 18%; */
  top: 25%;
  left: 19%;
  /* position: absolute; */
}
#pic2 {
  /* height: 25%;
  width: 18%; */
  top: 25%;
  left: 37.2%;
  /* position: absolute; */
}
#pic3 {
  /* height: 51%;
  width: 18%; */
  top: 25%;
  left: 55.6%;
  /* position: absolute; */
}
#pic4 {
  /* height: 25%;
  width: 18%; */
  top: 51%;
  left: 19%;
  /* position: absolute; */
}
#pic5 {
  /* height: 25%;
  width: 18%; */
  top: 51%;
  left: 37.2%;
  /* position: absolute; */
}
#pic6 {
  /* height: 27%;
  width: 36.1%; */
  top: 76.5%;
  left: 19%;
  /* position: absolute; */
}
#pic7 {
  /* height: 27%;
  width: 18%; */
  top: 76.5%;
  left: 55.5%;
  /* position: absolute; */
}
